.section-heading{
  margin-top: 5%;
	font-family: noto-serif;
}

.go-top{
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  padding: 1em;
  display: none;
  font-family: 'noto-serif';
  font-weight: 10px;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  color: white;
}
h4{
	font-family: noto-serif;
}
.logo-item{
  display: inline;
  width: 15%;
}
.social-icon {
  width:40%;
  height:40%;
}

#map {
  height: 400px;
  width: 100%;
}

.main{
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(255,193,7) }

.selfintro{
	padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 120%;
}
.selfintroheading{
/*	padding-top: 5%;*/
font-size:40pt;
  padding-left:5%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.section-subheading{
margin-bottom: 5%;
}

.img-self{
  margin-top: 5%;
/*  width: 60%;*/
}

#contacts{
	padding-top: 5%;
}

.portfolio-heading{
  font-size: 90px;
  font-weight: 900;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.project-title h2{
  text-align: center;
  font-size: 20px;
  bottom: 0;
  color: black;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.project-type{
  line-height: 21px;
}
.project-bio{
  padding-top: 1%;
}
.btn-primary {
  color: white;
  border-color: #ffc107;
  background-color:#ffc107; }
.btn-primary:hover {
    color: white;
    border-color: #ff9800;
    background-color: #ff9800; }

.resume-btn{
	margin-left: 20%;
  margin-bottom: 2%;
}

.img-port{
	width: 95%;
	margin-bottom: 5%;
}
.img-port-detail{
  display: block;
  width:70%;
  height: 70%;
  margin:auto;
}

.port-sub{
	width: 50%;
  display: block;
  margin:auto;
}

.intro{
  font-family: 'Marck Script', cursive;
  color: #eee;
  font-size: 20pt;
  text-align: center;
/*  padding-left: 40%;*/
  padding-top:10%;
}
.intro-2{
  font-family: 'Noto Serif', serif;
  color: #eee;
  font-size: 40pt;
  text-align: center;
}
.intro-3{
  font-family: "Marck Script", cursive;
  text-align:center;
  color:#eee;
  font-size: 20pt;
/*  margin-bottom: 1%;*/
}
figcaption{
  text-align: center;
}

.mycarousel{
  height: 400px;
  background-image: url("../img/home_11.jpg");
}
.project-para-detail{
  margin:5%;
/*  line-height: 5px;*/
}
.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 100%; }

.portfolio-box {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto; }
.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 95%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: rgba(255, 193, 7, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
 .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px; }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }
  .portfolio-box:focus {
    outline: none; }

  @media (max-width: 480px) {
  .intro{
    padding-top: 20%;
  }
}
@media (min-width: 481px){
  .intro{
    padding-top: 10%;
  }
  }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px; } }
}
@media screen and (min-width: 350px) and (max-width: 769px){
  .resume-btn{
  margin-left: 30%;
}
.img-self{
  margin-top: 8%;
}
.project-title {
    width: 100%;
    margin:auto;
}
.project-type{
  margin-left: 20%;
  margin-top:5%;
}
}

